h2 {
	text-align: left;
	font-size: x-large;
	padding: 20px 0px 20px 0px;
}

main {
   padding-left: 60px;
}

.twitter-tweet {
    margin: auto;
}

p {
    font-size: large;
}

.header {
    border-width: 5px;
    border-style: solid;
    border-color: #eeeeee;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    padding: 0px 40px 0px 40px;
}

.show {
    display: none!important;
}

.preopen {
    display: block!important;
}

.toggle {
    float: left;
    padding-right = 20px;
}

.glyphicon-align-justify {
    height = 20px;
    width = 20px;
    margin = auto;
}

@media (min-width: 1200px) {
    main {
    	padding-left: 40px;
    }
}