.highscore {
	background-color: rgba(124,252,0,0.5);
	border-color: rgb(124,252,0);
}

.midscore {
	background-color: rgba(211,211,211,0.5);
	border-color: rgb(211,211,211);
}

.lowscore {
	background-color: rgba(255,99,71,0.5);
	border-color: rgb(255,99,71);
}

.player {
	width: 600px;
	height: 25px;
	margin: auto;
	border-style: solid;
	border-radius: 5px;
}

.num {
	width: 280px;
	text-align: right;
	float:right;
	padding: 2px 2px 2px 2px;
}

.name {
	width: 300px;
	text-align: left;
	float:left;
	padding: 2px 2px 2px 2px;
}

h2 {
	color: #333333;
	font-size: 18px;
	text-align: center; 
	margin: auto;
	padding: 20px 20px 20px 20px;
}

h1 {
	color: #333333;
	font-size: 50px;
	text-align: center; 
	margin: auto;
	padding: 20px 20px 20px 20px;
}

h3 {
	color: #333333;
	font-size: 25px;
	text-align: center; 
	margin: auto;
}