ul {
	padding: 0;
}

.largediv {
	width: 600px; 
	height: 400px; 
	margin: auto;
}

.highscore {
	background-color: rgba(124,252,0,0.5);
	border-color: rgb(124,252,0);
}

.midscore {
	background-color: rgba(211,211,211,0.5);
	border-color: rgb(211,211,211);
}

.lowscore {
	background-color: rgba(255,99,71,0.5);
	border-color: rgb(255,99,71);
}

h2 {
	color: #333333;
	font-size: 18px;
	text-align: center; 
	margin: auto;
	padding: 20px 20px 20px 20px;
}

h1 {
	color: #333333;
	font-size: 50px;
	text-align: center; 
	margin: auto;
	padding: 20px 20px 20px 20px;
}

h3 {
	color: #333333;
	font-size: 25px;
	text-align: center; 
	margin: auto;
}
