{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">
<script type="text/javascript">
window.onload = function() {
	var scoreList = '{{ team.scoreList }}';
	var scoreArray = scoreList.split(",");
	var scoreArrayInt = new Array();
	for (i of scoreArray) {
		var x = parseInt(i);
		scoreArrayInt[scoreArrayInt.length] = x;
	}
	var colourTag = '{{ team.homeColour }}' === 'ffffff';
	var seriesColour = '#{{ team.homeColour }}';
	var markerOptions = {};
	if (colourTag) {
		seriesColour = '#000000';
		markerOptions = {
			lineWidth: 1,
			lineColor: '#000000',
			fillColor: '#ffffff'
		}
	}
	var chart = new Highcharts.Chart('container', {
		chart: {
			className: 'largediv'
		},

		title: {
			//text: '{{ team.longName }} Tweet Sentiment'
			text:null
		},
		
		xAxis: {
			type: 'datetime'
		},
		
		yAxis: {
			title: {
				text: 'Average Sentiment Score'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle'
		},

		plotOptions: {
			series: {
				pointStart: Date.UTC(2017,0,1),
				pointInterval: 24*3600*1000,
			    marker: markerOptions
			}
		},
		
		series: [{
			name: '{{ team.longName }}',
			data: scoreArrayInt,
			color: seriesColour
		}]
	});
}
</script>
<h1 id="header">
{{ team.longName }}
<img src="{% static team.imagePath %}" alt="" width="50" height="50">
</h1>
{% if team.nextGame %}
<h3>
Next game: {{ team.nextGame.longName }}
<img src="{% static team.nextGame.imagePath %}" alt="" width="20" height="20" href={% url 'game' team.name team.nextGame.name %}>
</h3>
{% endif %}
<h2>
Tweet Sentiment
</h2>
<div id="container" class="largediv"></div>
<h2>
Tweet Locations
</h2>
<div id="mapContainer" class="largediv"></div>
<script type="text/javascript">
      function initMap() {
	  	var tweets = '{{ tweets }}';
        var map = new google.maps.Map(document.getElementById('mapContainer'), {
          zoom: 1,
          center: {lat: 0, lng: 0}
        });
		function pinSymbol(color) {
			return {
				path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
				fillColor: color,
				fillOpacity: 1,
				strokeColor: '#000',
				strokeWeight: 2,
				scale: 1,
		   };
		}
		'{% for i in tweets %}'
			var myloc = {lat: parseFloat('{{ i.longitude }}'), lng: parseFloat('{{ i.latitude }}')};
			var marker = new google.maps.Marker({
			  position: myloc,
			  map: map,
			  icon: pinSymbol('#{{ team.homeColour }}')
			});
		'{% endfor %}'
      }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6yQCFQnx_S7r_y_G-2XE6hd89JLcwqbY&callback=initMap">
</script>
<h2>
Player Scores
</h2>
{% for player in players %}
	{% if player.score > 10 %}
		<div class="highscore player">
	{% elif player.score > 0 %}
		<div class="midscore player">
	{% else %}
		<div class="lowscore player">
	{% endif %}
		<div class="name">
			{{ player }}
		</div>
		<div class="num">
			{{ player.score }}
			{% if player.score > player.lastScore %}
				<img src="{% static "images/up.png" %}" alt="" width="10" height="10">
			{% elif player.score < player.lastScore %}
				<img src="{% static "images/down.png" %}" alt="" width="10" height="10">
			{% else %}
				<img src="{% static "images/neutral.png" %}" alt="" width="10" height="10">
			{% endif %}
		</div>
	</div>
{% endfor %}
{% endblock %}