{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">
<script type="text/javascript">
window.onload = function() {
	var scoreList = '{{ team.scoreList }}';
	var scoreArray = scoreList.split(",");
	var scoreArrayInt = new Array();
	for (i of scoreArray) {
		var x = parseInt(i);
		scoreArrayInt[scoreArrayInt.length] = x;
	}
	var chart = new Highcharts.Chart('container', {

		title: {
			text: '{{ team.longName }} Tweet Sentiment'
		},
		
		xAxis: {
			type: 'datetime'
		},
		
		yAxis: {
			title: {
				text: 'Average Sentiment Score'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle'
		},

		plotOptions: {
			series: {
				pointStart: Date.UTC(2017,0,1),
				pointInterval: 24*3600*1000
			}
		},

		series: [{
			name: '{{ team.longName }}',
			data: scoreArrayInt,
			color: '#{{ team.homeColour }}'
		}]

	});
	var map = new Highcharts.mapChart('mapContainer', {
		chart: {
			map: 'custom/world'
		},

		title: {
			text: 'Tweet Locations'
		},

		mapNavigation: {
			enabled: true
		},

		tooltip: {
			headerFormat: '',
			pointFormat: '<b>{point.name}</b><br>Lat: {point.lat}, Lon: {point.lon}'
		},

		series: [{
			// Specify points using lat/lon
			type: 'mappoint',
			name: 'Cities',
			color: Highcharts.getOptions().colors[1],
			data: [{
				name: 'London',
				lat: 51.507222,
				lon: -0.1275
			}, {
				name: 'Birmingham',
				lat: 52.483056,
				lon: -1.893611
			}, {
				name: 'Leeds',
				lat: 53.799722,
				lon: -1.549167
			}, {
				name: 'Glasgow',
				lat: 55.858,
				lon: -4.259
			}, {
				name: 'Sheffield',
				lat: 53.383611,
				lon: -1.466944
			}, {
				name: 'Liverpool',
				lat: 53.4,
				lon: -3
			}, {
				name: 'Bristol',
				lat: 51.45,
				lon: -2.583333
			}, {
				name: 'Belfast',
				lat: 54.597,
				lon: -5.93
			}, {
				name: 'Lerwick',
				lat: 60.155,
				lon: -1.145,
				dataLabels: {
					align: 'left',
					x: 5,
					verticalAlign: 'middle'
				}
			}]
		}]
	});
}
</script>
<div id="container" style="width: 600px; height: 400px; margin: 0 auto"></div>
<div id="mapContainer" style="width: 600px; height: 400px; margin: 0 auto">
</div>
{% endblock %}