{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/basictext.css' %}">
<h1>
About
</h1>
<p>
This site is built using the <a href="https://www.djangoproject.com/">Django</a> framework and hosted by <a href="https://www.pythonanywhere.com/">PythonAnywhere</a>. Data collection and visualization are made possible by the <a href="https://www.highcharts.com/">Highcharts</a>, <a href="https://developers.google.com/maps/">Google Maps</a>, <a href="https://www.mediawiki.org/wiki/API:Main_page">MediaWiki</a>, and <a href="https://dev.twitter.com/rest/public">Twitter</a> APIs. Sentiment analysis was performed using the <a href="https://textblob.readthedocs.io/en/dev/">TextBlob</a> library. Side menu design is sourced from <a href="https://bootsnipp.com/snippets/featured/side-menu-on-hover">didierymartinez</a>. Source code is available on <a href="https://github.com/lpang36/soccersentimeter">GitHub</a>.
<br>
<br>
© Lawrence Pang, 2017
</p>
{% endblock %}