{% load staticfiles %}

<!DOCTYPE html>
<html lang = "en">
   
   <head>
      <!-- Bootstrap -->
	  <title> Premier League Sentimeter </title>
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
	  <link rel="stylesheet" href="{% static 'css/teambase.css' %}">
	  <script src="https://code.highcharts.com/highcharts.js"></script>
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="{% static 'js/menu.js' %}"></script>
   </head>
   <body>
	<nav class="navbar navbar-default sidebar" role="navigation" onmouseover='adjustOnEnter()' onmouseout='adjustOnExit()'>
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href={% url 'home' %}>Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Premier League <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
			<li><a href={% url 'team' 'ARS' %}>Arsenal</a></li>
			<li><a href={% url 'team' 'BOU' %}>Bournemouth</a></li>
			<li><a href={% url 'team' 'BRI' %}>Brighton & Hove Albion</a></li>
			<li><a href={% url 'team' 'BUR' %}>Burnley</a></li>
			<li><a href={% url 'team' 'CHE' %}>Chelsea</a></li>
			<li><a href={% url 'team' 'CRY' %}>Crystal Palace</a></li>
			<li><a href={% url 'team' 'EVE' %}>Everton</a></li>
			<li><a href={% url 'team' 'HUD' %}>Huddersfield Town</a></li>
			<li><a href={% url 'team' 'LEI' %}>Leicester City</a></li>
			<li><a href={% url 'team' 'LIV' %}>Liverpool</a></li>
			<li><a href={% url 'team' 'MCI' %}>Manchester City</a></li>
			<li><a href={% url 'team' 'MUN' %}>Manchester United</a></li>
			<li><a href={% url 'team' 'NEW' %}>Newcastle United</a></li>
			<li><a href={% url 'team' 'SOU' %}>Southampton</a></li>
			<li><a href={% url 'team' 'STO' %}>Stoke City</a></li>
			<li><a href={% url 'team' 'SWA' %}>Swansea City</a></li>
			<li><a href={% url 'team' 'TOT' %}>Tottenham Hotspur</a></li>
			<li><a href={% url 'team' 'WAT' %}>Watford</a></li>
			<li><a href={% url 'team' 'WBA' %}>West Bromwich Albion</a></li>
			<li><a href={% url 'team' 'WHU' %}>West Ham</a></li>
          </ul>
        </li>    
		<li ><a href={% url 'compare' %}>Compare Teams<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-stats"></span></a></li> 		
        <li ><a href={% url 'about' %}>About<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>        
      </ul>
    </div>
  </div>
</nav>
	<main>
                {% block content %}
				{% endblock %}
	</main>
    </body>
</html>