{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/compare.css' %}">
<script src="{% static 'js/dropdown.js' %}"></script>
<div class = "cont">
	<div class="comp BOU" id="team1">
	<div class="dropdown">
  <button class="dropbtn" id="team1dropdown">AFC Bournemouth</button>
  <div class="dropdown-content">
	{% for team in teams %}
    <a href="#" onclick="select(this,'team1')" class = "{{ team.name }}"> 
	{{ team.longName }}
	<img src="{% static team.imagePath %}" alt="" width="10" height="10">
	</a>
	{% endfor %}
  </div>
</div>
	</div>
	<div class="mid">
	<h2>
	vs
	</h2>
	</div>
	<div class="comp BOU" id="team2">
	<div class="dropdown">
  <button class="dropbtn" id="team2dropdown">AFC Bournemouth</button>
  <div class="dropdown-content">
	{% for team in teams %}
    <a href="#" onclick="select(this,'team2')" class = "{{ team.name }}"> 
		{{ team.longName }}
	<img src="{% static team.imagePath %}" alt="" width="10" height="10">
	</a>
	{% endfor %}
  </div>
</div>
	</div>
</div>
<a onmouseenter="compare(this)" class = "comparebtn dropbtn btn" href = "{% url 'game' 'BOU' 'BOU' %}"> Compare Teams </a>
{% endblock %}